<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ToDo Simple App</title>
    <link rel="stylesheet" th:href="@{/bootstrap-4.0.0-dist/css/bootstrap.min.css}">
	<script th:src="@{jquery-3.6.0-dist/jquery-3.6.0.min.js}"></script>
	<script th:src="@{bootstrap-5.1.3-dist/js/bootstrap.min.js}"></script>
  </head>
  <body>
    <div class="d-flex justify-content-center">
      <div class="spinner-border" role="status" id="loading">
		  <span class="sr-only">Carregando...</span>
	  </div>
    </div>
      <p class="h1 text-center">Suas tarefas</p>

    <table class="table table-hover">
      <tbody id="tasks"></tbody>
    </table>
  </body>
</html>
